In [1]:
print(5)

5

In [2]:
print('풍선')

풍선

In [3]:
print("ahyun")

ahyun

In [4]:
print("문자"*2)

문자문자

In [5]:
print(7 > 10)

False

In [6]:
print(7 < 10)

True

In [7]:
print(True)

True

In [8]:
print(False)

False

In [9]:
print(not True)

False

In [10]:
print(not False)

True

In [11]:
print(not (5 > 10))

True

In [21]:
print("안녕하세요. ahyun입니다.")
print("ahyun의 나이는 24살입니다.")
print("ahyun은 경기도 ***에 거주중입니다.")

안녕하세요. ahyun입니다.
ahyun의 나이는 24살입니다.
ahyun은 경기도 ***에 거주중입니다.

In [23]:
name = "ahyun"

print("안녕하세요. " + name + "입니다.")
print(name + "의 나이는 24살입니다.")
print(name + "은 경기도 ***에 거주중입니다.")

안녕하세요. ahyun입니다.
ahyun의 나이는 24살입니다.
ahyun은 경기도 ***에 거주중입니다.

In [14]:
name = 'kimahyun'
age = 24
job = "학생"

print("제 이름은 " + name + "입니다.")
print("나이는 " + str(age) + "입니다.")
print("직업은 " + job + "입니다.")

제 이름은 kimahyun입니다.
나이는 24입니다.
직업은 학생입니다.

In [15]:
name = 'kimahyun'
age = 24
job = "학생"

print("제 이름은" ,name, "입니다.")
print("나이는" ,age, "입니다.")
print("직업은 ", job, "입니다.")

제 이름은 kimahyun 입니다.
나이는 24 입니다.
직업은  학생 입니다.

In [16]:
# 변수를 이용하여 다음 문장을 출력하시오
# 변수명 : station
# 변수값 : "사당", "신도림", "인천공항" 순서대로 입력
# 출력 문장 : XX행 열차가 들어오고 있습니다.

station = "사당"
print(station + "행 열차가 들어오고 있습니다.")

사당행 열차가 들어오고 있습니다.

In [17]:
station = "신도림"
print(station + "행 열차가 들어오고 있습니다.")

신도림행 열차가 들어오고 있습니다.

In [18]:
station = "인천공항"
print(station + "행 열차가 들어오고 있습니다.")

인천공항행 열차가 들어오고 있습니다.

In [19]:
print(1+1) # 2
print(3-2) # 1
print(5*2) # 10
print(6/3) # 2

2
1
10
2.0

In [1]:
print(1+1) # 2
print(3-2) # 1
print(5*3) # 15
print(8/2) # 4

2
1
15
4.0

In [2]:
print(2**4)

16

In [3]:
print(7%3)

1

In [5]:
print(11//4)

2

In [6]:
print(15 > 11) # True
print(8 <= 3) # False
print(1 >= 3) # False
print(5 <= 5) # True
print(5 == 5) # True
print(5 == 6) # False
print(4 + 4 == 8) # True

True
False
False
True
True
False
True

In [8]:
print(5 != 6) # True
print(not(5!= 6)) # False

True
False

In [10]:
print((4 > 2) and (4 > 3)) # True
print((4 > 2) & (4 > 3)) #True

True
True

In [12]:
print((4 > 2) or (4 < 2)) # True
print((4 < 2) | (4 < 2)) # False

True
False

In [13]:
print(3 < 4 < 5) # True
print(3 < 4 < 2) # False

True
False

In [2]:
num = 10
num = num + 2
print(num) # 12

num += 2
print(num) #14

num *= 2 
print(num) # 28

num /= 2 # 14
print(num)

num -= 2 # 12
print(num)

num /= 2 # 0
print(num)

12
14
28
14.0
12.0
6.0