## Tuple (튜플)

**Tuple**은 **list**와는 다르게 **내용 변경** 및 **추가를 할 수 없다.**

그래서 딱히 할 수 있는 건 없지만 **속도**가 리스트보다 **빠르다.**

변경되지 않는 항목을 사용(고정된 값)할 때 tuple을 많이 활용한다.

**<tuple 사용법>**

var = ("value", "value")

value는 **,**로 구분한다.

값을 출력할 때에는 list와 동일하게 index 번호를 입력하면 된다.

In [1]:
friend = ("김혜주", "이호림")
print(friend[0])
print(friend[1])

김혜주
이호림

만약에 친구 한 명을 더 추가하고 싶어서 add()를 사용한다면 **Error**가 뜬다.

In [2]:
friend.add("박종현")

AttributeError: 'tuple' object has no attribute 'add'

### Tuple 활용

변수 당 하나씩 값을 선언할 수 있지만

In [3]:
name = "김아현"
age = 24
hobby = "코딩"

print(name, age, hobby)

김아현 24 코딩

**튜플을 이용**한다면 **한 줄에 여러 개의 변수를 선언**할 수 있다.

In [4]:
(name, age, hobby) = ("김아현", 24, "코딩")
print(name, age, hobby)

김아현 24 코딩

## Set (세트) (집합)

중복이 안되고, 순서가 없다.

**<set 사용법>**

var = {value, value, ...}<br>
var = set([value, value])

In [5]:
num = {1,2,4,4,5,5}
print(num)

{1, 2, 4, 5}

중복이 안되기 때문에 중복된 숫자는 하나만 출력되는 것을 확인할 수 있다.

### 교집합

**[방법 1]** & <br>
**[방법 2]** intersection

In [6]:
incheon = {"김혜주", "이희재"}
wauri = set(["김혜주", "이호림", "김아현"])

In [7]:
print(incheon & wauri)
print(incheon.intersection(wauri))

{'김혜주'}
{'김혜주'}

### 합집합

**[방법 1]** | <br>
**[방법 2]** union

In [8]:
print(incheon | wauri)
print(incheon.union(wauri))

{'이희재', '김혜주', '이호림', '김아현'}
{'이희재', '김혜주', '이호림', '김아현'}

### 차집합

**[방법 1]** - <br>
**[방법 2]** difference

In [9]:
print(incheon - wauri)
print(incheon.difference(wauri))

{'이희재'}
{'이희재'}

### value 추가

**add()** 이용

In [10]:
incheon.add("김아현")
print(incheon)

{'이희재', '김혜주', '김아현'}

### value 삭제

**remove()** 이용

In [11]:
wauri.remove("김혜주")
print(wauri)

{'이호림', '김아현'}

## 자료구조의 변경

자료형을 서로 바꿀 수 있다.

In [12]:
ice = {"커피", "라떼", "토피넛"}
print(ice)

{'커피', '토피넛', '라떼'}

자신이 쓴 자료형을 알기 위해서 **type()**을 이용한다.

In [13]:
print(ice, type(ice))

{'커피', '토피넛', '라떼'} <class 'set'>

In [14]:
ice = list(ice)
print(ice, type(ice))

['커피', '토피넛', '라떼'] <class 'list'>

In [15]:
ice = tuple(ice)
print(ice, type(ice))

('커피', '토피넛', '라떼') <class 'tuple'>

In [16]:
ice = set(ice)
print(ice, type(ice))

{'커피', '토피넛', '라떼'} <class 'set'>

## Quiz

In [46]:
from random import *
id = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
chicken = int(random() * 20) + 1
id.remove(chicken)
coffee = sample(id, 3)

print("--당첨자 발표--")
print("치킨 당첨자 : %d" % chicken)
print("커피 당첨자 : {}".format(coffee))
print("--축하합니다--")

--당첨자 발표--
치킨 당첨자 : 1
커피 당첨자 : [15, 17, 2]
--축하합니다--

In [50]:
users = range(1, 21) #1부터 20까지 숫자를 생성
users = list(users)
#print(users, type(users))
shuffle(users)
print(users)

winners = sample(users, 4) # 4명 중 1명 치킨, 3명 커피
print("치킨 당첨자 : {0}".format(winners[0]))
print("커피 당첨자 : {0}".format(winners[1:]))

[12, 19, 4, 18, 13, 14, 17, 8, 2, 7, 5, 9, 11, 6, 20, 10, 1, 16, 3, 15]
치킨 당첨자 : 5
커피 당첨자 : [16, 8, 10]